/*header*/

.header {
    min-height: 695px;
    padding: 40px 0;
    background-color: var(--dark-bg);
    color: var(--white);
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;

    background-image: url(../../images/Abstract.png);
    background-position: center center;
    background-size: auto;
    background-repeat: repeat-x;
}

.header-container{

    letter-spacing: -0.5;
}

.header-title {
    font-size: 40px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.header-title strong {
    font-weight: 400;
    font-size: 60px;
    font-weight: 700;
}
.header-title em {
    font-style: normal;
    color: var(--accent);
    font-family: 'Homemade Apple', cursive;
    margin-left: 10px;
}

.header-text {
    margin-bottom: 40px;
    line-height: 1.33;
    font-size: 18px;
}

.header-text p + p {
    margin-top: 0.5em;
}